<div class="" style="margin-left: 20px; color: white;">
  <br>
  <h1 >Welcome to the Kill Team Narrative tracker</h1>
  <p>Log your forces' progress and add to the campaign setting with personalized battle reports</p>

  <%= link_to "Killteams", killteams_url %>
  <%= link_to "Warzones", warzones_url %>
</div>
